@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --VERY_DARK_GRAY: hsl(0, 0%, 17%);
  --DARK_GRAY: hsl(0, 0%, 59%);
  --WHITE: #ffffff;
  --BLACK: #2c2c2c;
}

body {
  font-family: "Rubik", sans-serif;
}

.hero {
  height: 26vh;
  background-image: url("./images/pattern-bg-desktop.png");
  background-size: cover;
  padding-top: 2rem;
}
.title {
  font-family: inherit;
  font-weight: medium;
  font-size: 2rem;
  color: var(--WHITE);
  text-align: center;
  letter-spacing: -0.29px;
}
.searchbtn {
  display: block;
}
.user_input {
  display: flex;
  justify-content: space-between;
  background-color: var(--WHITE);
  width: 39%;
  margin: auto;
  margin-top: 1.8rem;
  padding-left: 1.5rem;
  border-radius: 15px;
}
.input_text {
  width: 300px;
  font-family: inherit;
  font-size: 1.12rem;
  color: var(--BLACK);
  border: 0;
  outline: 0;
}
.searchbtn {
  background-color: var(--BLACK);
  border: 0;
  padding: 1.43rem 1.62rem;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.address_details {
  background-color: var(--WHITE);
  width: 77%;
  height: 14.91vh;
  position: absolute;
  top: 12rem;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 15px;
  display: flex;
  gap: 2rem;
  align-items: center;
  padding-left: 2rem;
  z-index: 9999;
}
.first_detail {
  display: flex;
  flex-direction: column;
  gap: 0.81rem;
}
.second_detail {
  display: flex;
  flex-direction: column;
  gap: 0.81rem;
}
.third_detail {
  display: flex;
  flex-direction: column;
  gap: 0.81rem;
}
.fourth_detail {
  display: flex;
  flex-direction: column;
  gap: 0.81rem;
}
.vertical_line {
  border: 1px solid var(--BLACK);
  height: 75px;
  opacity: 15%;
}
.head {
  font-family: inherit;
  font-weight: bold;
  font-size: 0.75rem;
  letter-spacing: 1.75px;
  color: var(--BLACK);
  opacity: 49.87%;
}
.content {
  font-family: inherit;
  font-weight: medium;
  font-size: 1.63rem;
  letter-spacing: -0.23px;
  color: var(--BLACK);
}
#map {
  height: 80vh;
  overflow-x: hidden;
  /* scrollbar-width: none; */
}
.location {
  z-index: 9999;
}

@media (max-width: 428px) {
  .address_details {
    flex-direction: column;
    width: 87%;
    top: 10.5rem;
    height: auto;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    padding-left: 0;
  }
  .title {
    font-size: 1.6rem;
    font-weight: normal;
  }
  .hero {
    padding-top: 1.6rem;
  }
  .user_input {
    width: 87%;
  }
  .input_text {
    font-size: 0.85rem;
  }
  .vertical_line {
    display: none;
  }
  .head {
    text-align: center;
    font-size: 0.7rem;
  }
  .first_detail,
  .second_detail,
  .third_detail,
  .fourth_detail {
    gap: 0.43rem;
  }
  .content {
    font-weight: normal;
    font-size: 1.2rem;
    letter-spacing: -0.18px;
    text-align: center;
  }
}
